# Ignore python cache
__pycache__/
*.pyc

# Ignore build artifacts
*.egg-info/
build/
dist/

# Ignore test reports
.coverage
htmlcov/

# Ignore downloaded model files
*.pt

# virtual environment
venv/
env/
.venv/
.env/

# Logs
spooky.log
