# Ignore python cache
__pycache__/
*.pyc

# Ignore build artifacts
*.egg-info/
build/
dist/

# Ignore test reports
.coverage
htmlcov/

# Ignore downloaded model files
*.pt

# Ignore virtual environment
venv/
env/